<form>
		<input type="text" id="term" value="Search Template" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Template';}">
		<input type="submit" id="search"  value="Search"/>
	  </form>